.bottone{
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", sans-serif ;
}

.bottone.one {
    color: white;
    background-color: black;
}

.bottone.two {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 234, 0);
}